
<section>
    <div class="container" class="mt-5 p-5  d-flex">
<h3 class=" " style="color: rgb(33, 194, 18); font-size: 60px; align-items: center;justify-content: center;">Order Placed Successfully</h3>
<a href="/order-list" class="btn btn-success">Orders</a>
    </div>
</section>
