:root {
  --font-family: 'Roboto Slab', serif;
}
a:hover,
a {
  color: inherit;
  text-decoration: none;
}
.btn:focus {
  outline: none !important;
}
.login-page {
  background: rgb(109, 109, 109);
  background: linear-gradient(
    90deg,
    rgba(186, 186, 186, 1) 1%,
    rgba(121, 120, 120, 0.8085434002702644) 99%
  );
  height: 100%;
}
* {
  font-family: var(--font-family);
  font-style: normal;
}

h2 {
  font-weight: bold;
  color: rgb(49, 49, 49);
}
main {
  background-color: rgba(58, 58, 58, 0.323);
}
/*USER */
main .row .card {
  width: 250px;
  height: 400px;
  background: whitesmoke;
  border-radius: 10px;
}
main .row .card:hover {
  border-width: 4px;
  border-color: rgb(172, 172, 172);
  border-radius: 10px;
  background: rgb(255, 255, 255);
  transform: scale(1.03);
  transition: ease 1;
}
main .row .card .card-img-top {
  width: 150px;
  height: 200px;
  margin-left: 20%;
}
main .row .card .add-toCart {
  background: rgba(253, 253, 253, 0);
  border-width: 2px;
  color: rgb(55, 55, 55);
  border-color: rgb(85, 85, 85);
  border-radius: 5px;
}
main .row .card .add-toCart:hover {
  background: rgb(52, 48, 48);

  transition: 0.5s ease;
  color: rgb(196, 196, 196);
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
}
/*USER END*/

/*NAVBAR  */
.navbar {
  height: 60px;

  z-index: 222;
  font-family: var(--font-family);
}

.navbar ul a:hover {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(253, 252, 252);
  border-radius: 15px;
  transition: 0.5s ease;
}

.navbar ul {
  padding-left: 10px;
}

h2 {
  font-weight: 900;
}

/* navbar finished*/

/*user login layout*/
section .form-area {
  background-color: rgb(209, 209, 209);
  border-radius: 15px;

  height: max-content;
}
section .form-area form button {
  background: rgba(253, 253, 253, 0);
  border-width: 2px;
  color: rgb(55, 55, 55);
  border-color: rgb(85, 85, 85);
  border-radius: 5px;
}
section .form-area form button:hover {
  background: rgb(52, 48, 48);

  transition: 0.5s ease;
  color: rgb(196, 196, 196);
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
}

section .banner-area .banner-img {
  width: 600px;
  height: 420px;
  border-radius: 15px;
}
section .banner-area .banner-img:hover {
  filter: brightness(1.1);
  transition: ease 0.2;
}

section .profile-container .profileImg {
  width: 100px;
  height: 100px;
  border-radius: 80px;
  border: 2px solid #555;
}
/*user login layout end*/
/*PROFILE START*/

section .profile-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 24%;
}
section .profile-container .head,
.details {
  width: 500px;
  height: max-content;
  border-radius: 15px;
  background: rgb(213, 213, 213);
  display: flex;
  flex-direction: column;
}
section .profile-container .head {
  align-items: center;
}
section .profile-container .head .btn {
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  height: 30px;
  font-size: x-small;
  padding: auto;
}

section .profile-container .details {
  margin-top: 50px;
}

section .profile-container .details span {
  font-size: x-large;
}
section .profile-container .details .nameArea,
.emailArea {
  border-radius: 15px;
  padding-left: 20px;
}
section .profile-container .details .border {
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: rgb(121, 121, 121);

  margin-top: 15px;
}
section .profile-container .details .emailArea {
  margin-top: 10px;
}
section .profile-container .head .profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: black;
}
section .profile-container .details button {
  background: rgba(253, 253, 253, 0);
  border-width: 2px;
  color: rgb(55, 55, 55);
  border-color: rgb(85, 85, 85);
  border-radius: 5px;
}
section .profile-container .details button:hover {
  background: rgb(52, 48, 48);

  transition: 0.5s ease;
  color: rgb(196, 196, 196);
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
}
/*PROFILE END*/
/*PRODUCT DETAILS START*/
section .container .img-sec {
  background-color: rgb(213, 213, 213);
  width: 100%;
  height: min-content;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
section .container .img-sec img {
  width: 400px;
  height: 400px;
}
section .container .detail-sec {
  border-radius: 15px;
  background-color: rgb(213, 213, 213);
  width: 100%;
  height: 500px;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
section .buy-now {
  overflow: hidden;
  background-color: #3f3f3f65;
  position: fixed;
  top: 530px;

  width: 100%;
  height: 80px;

  display: flex;
  align-items: flex-end;

  justify-content: center;
  padding-right: 60px;
  padding-bottom: 20px;
  box-shadow: 3px 3px 2px 2px rgba(158, 158, 158);
}
section .buy-now .btn {
  margin-left: auto;
  width: 200px;
  height: max-content;
  background-color: transparent;
  border: 2px solid black;
}
section .buy-now .btn:hover {
  background-color: rgba(68, 68, 68, 0.268);
  border: 2px solid rgb(255, 255, 255);
  color: white;
}
/*PRODUCT DETAILS END*/
